# -- Target --
CONFIG_IDF_TARGET="esp32s3"

# -- Memory and CPU --
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y

# -- UDP --
CONFIG_SERVER_FRAME_PORT=5005
CONFIG_DEVICE_CONTROL_PORT=5006
CONFIG_UDP_HANDSHAKE_MAX_RETRIES=60
CONFIG_UDP_HANDSHAKE_PING_INTERVAL_MS=1000
CONFIG_UDP_ALIVE_TIMEOUT_MS=1000
CONFIG_UDP_HANDSHAKE_TIMEOUT_MS=6000000

# -- Camera --
CONFIG_CAMERA_CAPTURE_RATE_FPS=30
CONFIG_FRAMESIZE=5
CONFIG_JPEG_QUALITY=20
CONFIG_XCLK_FREQ_HZ=20000000
