# Python
server/venv/
__pycache__/
*.pyc

# React
frontend/node_modules/
frontend/dist/

# Build outputs
build/
**/build/
*.o
*.elf
*.bin
*.map
*.log

# ESP-IDF generated
sdkconfig
*/sdkconfig
*/sdkconfig.defaults.local
esp32/dependencies.lock
*/managed_components/

# Toolchain
/.espressif/
*/.cache/
/.pio/


server/auth.db
.env
.DS_Store
.vscode/
server/auth.db
