# Python
__pycache__/
*.pyc
venv/
**/venv/
Desktop/stream_output/
*.sqlite3
*.db-journal
# React
frontend/node_modules/
frontend/dist/

# Build outputs
build/
**/build/
*.o
*.elf
*.bin
*.map
*.log
*.db

# ESP-IDF generated
sdkconfig
*/sdkconfig
*/sdkconfig.defaults.local
esp32/dependencies.lock
*/managed_components/

# Toolchain
/.espressif/
*/.cache/
/.pio/

# Secrets
.env
server/auth.db
cfg.json

#IDEs
.vscode/
.idea/


.DS_Store
